.country li {
  display: inline-block;
  padding-right: 5px;
}

#tplnk li{
  display: inline-flex;
  padding: 10px;
  float: right;

}
#galler li{
  display: inline-block;
}
h2{
  text-align: center;

}


#fbm li{
  list-style: none;
}
H5{
  text-align: center;
}
.bta{
  text-align: center;
  padding-bottom: 10px;
  border-bottom-style: solid;
}
